<?xml version="1.0" encoding="UTF-8"?>
<included>
	<appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
		<waitStrategyType>blocking</waitStrategyType>
		<destination>${loghost}</destination>
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<jsonGeneratorDecorator class="net.logstash.logback.mask.MaskingJsonGeneratorDecorator">
    			<defaultMask>****</defaultMask>
	
    		</jsonGeneratorDecorator>
			<providers>
            	<!-- time para o Elastic indexar -->
				<timestamp>
					<timeZone>UTC</timeZone>
				</timestamp>
				<!-- Logs do Spring Sleuth -->
				<mdc>
					<excludeMdcKeyName>traceId</excludeMdcKeyName>
                    <excludeMdcKeyName>spanId</excludeMdcKeyName>
                    <excludeMdcKeyName>parentId</excludeMdcKeyName>
                    <excludeMdcKeyName>spanExportable</excludeMdcKeyName>
                    <excludeMdcKeyName>X-B3-TraceId</excludeMdcKeyName>
                    <excludeMdcKeyName>X-B3-SpanId</excludeMdcKeyName>
                    <excludeMdcKeyName>X-B3-ParentSpanId</excludeMdcKeyName>
                    <excludeMdcKeyName>X-Span-Export</excludeMdcKeyName>
				</mdc>	
				<pattern>
					<pattern>
						{
							"ecs.version": "1.6",
							"transaction.id": "%mdc{x-ekan-transaction-id}",
							"service.version" : "1.0",
						    "organization.name": "ekan",
						    "service.name": "${appName}",
						    "log.level": "%level",
						    "log.logger": "%caller_class_name",				
							"message": "%message",
							"log.logger": "",
							"stackTrace": "%exception",
							"traceId": "%mdc{X-B3-TraceId}",
                            "spanId": "%mdc{X-B3-SpanId}",
                            "deviceId": "%mdc{deviceId}",
                            "x-ekan-correlation-id": "%mdc{x-ekan-correlation-id}",
                            "x-ekan-transaction-id": "%mdc{x-ekan-transaction-id}",
                            "x-session-id": "%mdc{x-session-id}",
                            "ResponseTime": "%mdc{ResponseTime}"
                         }
					</pattern>
				</pattern>
				<!--  Incluindo exception stack trace -->
				<stackTrace />
			</providers>
		</encoder>
	</appender>

</included>